.box{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
}
.pic{
    
    height: 70vh;
    width: 85vw;
    align-items:flex-start ;
    padding: 10vw 15vh;
    margin-left:10vw;
    
}

.box1{
    height: 90vh;
    width: 800vw;
    align-items: flex-end ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20vw;
    
}

.innerBox{
    width: 500px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.box2{
    width: 500px;
    height: 120px;
    align-items: flex-end ;
    
    
}
.title{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    color: #0080FE;
}

.nPassword{
    
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rtPassword{
    
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
.code{
    border: 1px red solid;
    height: 100px;
    width: 500px;
}
*/

.resetButton{
    
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
