.textEditorArea {
  text-align: center;
  margin-top: 5px;
  margin-left: 120px;
  margin-right: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0px solid #2a2f2f;
  border-radius: 0px;
  padding: 40px;
  min-height: 550px;
}

.customQuillEditor {
  min-height: 500px; /*height of outer box */
}

.articleNameInput {
  
  padding: 10px; /* Apply padding of 10px */
  background-color: rgb(220, 220, 220,0.5); 
  width: 300px;
  border: 3px solid #3f3f3f;
  border-radius: 4px;
}

.saveButton {
  padding: 10px; /* Apply padding of 10px */
  background-color: rgba(0, 0, 0);
  width: 150px;
  border: 3px solid #161616;
  border-radius: 4px;
  color: white; 
  font-family:Verdana;
}